@import "tailwindcss";


.geist {
  font-family: "Geist", sans-serif;
  
}

.add-border-green{
    border-top: 5px solid green;
    border-radius: 10px;
}

.add-border-purple{
    border-top: 5px solid purple;
    border-radius: 10px;
}